:root {
	--background-color: #ededed;
	--page-background: #fff;
	--text-color: #212121;
    --btn-color: #fff;
	--color-alpha: #c3423f;
	--input-background: #fff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #111;
		--page-background: #212121;
		--text-color: #ededed;
        --btn-color: rgb(15, 15, 15);
		--color-alpha: #50a8d8;
		--input-background: rgb(202, 200, 200);
	}
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
}

.btn {
    padding: 8px 16px;
    background-color: #919398;
    color: var(--btn-color);
    border: 0;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
    cursor: pointer;
}

.main-container {
    width: 50%;
    margin: 0 auto;
}
/* @media (prefers-color-scheme: dark) {
	:root {
		--background-color: #111;
		--page-background: #212121;
		--text-color: #ededed;
		--color-alpha: #50a8d8;
	}
} */

.input-search {
	height: 34px;
    width: 70%;
	background-color: var(--input-background);
	padding-left: 8px;
	border: none;
}