<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ template "tmpl/layout/header" . }}
    <link rel="stylesheet" href="static/css/index.css?v={{ .version }}">
</head>
<body>
    <div id="app">
        <br>
        <div class="main-container">
            <el-button @click="hello">确 定</el-button>
            <el-button @click="goScan">端口扫描</el-button>
        </div>
    </div>
    {{ template "tmpl/layout/footer" }}
    <script src="static/js/index.js?v={{ .version }}"></script>
</body>
</html>