<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ template "tmpl/layout/header" . }}
    <link rel="stylesheet" href="static/css/index.css?v={{ .version }}">
</head>
<body>
    <div id="app">
       
        <br>
        
        <div class="main-container">
            <input type="text" class="input-search" placeholder="请输入端口号">
        </div>
    </div>
    {{ template "tmpl/layout/footer" }}
    <script src="static/js/scan.js?v={{ .version }}"></script>
</body>
</html>